/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-footer: rgb(40, 40, 40);
    --color-content: rgb(20, 25, 34);
    --nav-width: 250px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

/* UTILS */

.flex{
    display: flex;
}

.white{
    color: white;
}

/* NAV */

.nav{
    width: var(--nav-width);
    height: calc(100vh - 80px);
    background-color: black;
    color: gray;
    font-weight: bold;
    font-size: 12px;
    padding: 1%;

    display: flex;
    flex-direction: column;
    gap: 2%;
    overflow: auto;
}

#main .nav .logo-nav{
    width: 150px;
}

#main .nav .logo-small{
    display: none;
}

#main .nav .img-nav{
    width: 22px;
    height: 22px;
}

.nav .flex{
    align-items: center;
    gap: 2%;
}

.nav .playlist{
    line-height: 30px;
}

.hr{
    width: 100%;
    height: 1px;
    background-color: gray;
}

.circle-container{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
    overflow: hidden;
    margin-right: 4%;
    
}

.img-install-app{
    width: 15px;
    
}

.circle-container img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav .profile{
    margin-top: auto;
}

.install-app{
    margin-bottom: 4%;
}

.profile-name{
    margin-top: 4%;
}

.plus-icon{
    font-size: 3rem;
}

/* HOVER-EFFECT */

.nav .hover:hover,
.nav .new-playlist p:hover{
    color: white;
}

.hover-icon img{
    filter: grayscale(100%) brightness(50%);
}

.hover-icon:hover img{
    filter: grayscale(0%) brightness(100%);    
}



/* SECTION-CONTENT */

#content {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: var(--color-content);
}

/* header-content */

.header-content{
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5px;
}

.header-content p{
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 8px;
    cursor: pointer;
    font-size: 12px;
}

/* hover-header-content */

.header-content p:hover{
    padding: 10px;
    font-size: 14px;
}


/* MAIN-content */

#main-content{
    padding: 10px;
    height: calc(100vh - 160px);
    overflow: auto;
    color: white;
}

#main-content .genres{
    gap: 10px;
    justify-content: center;
    font-size: 12px;
    padding: 20px;
    font-weight: bold;
}

#main-content .genres a:hover{
    color: white;
    border-bottom: 2px solid greenyellow;
}

#main-content .genres a{
    color: gray;
}

#main-content h2{
    padding: 10px 0;
}

#main-content .for-you .description,
#main-content .popular-artists .description{
    color: gray;
    padding-bottom: 10px;
}


/* album */

#main-content .card{
    width: calc(100% / 6);
}

#main-content .recently-played{
    gap: 10px;
}

.card .music-info{
    color: white;
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
}

.card .music-info p:first-child{
    font-weight: 900;
    line-height: 1;
}

.card .music-info .recently-played p:last-child{
    color: gray;
    font-size: 12px;
}

/* hover play-icon */

.container-img-album{
    position: relative;
}

.container-img-album:hover .opacity{
    opacity: 0.4;
}

.card .container-img-album .icon-play{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .container-img-album:hover .icon-play{
    display: inline-block;
    font-size: 50px;
}



/* FOR-YOU */

.for-you .flex{
    gap: 10px;
}

/* popular-artists */

.popular-artists .flex{
    gap: 10px;
}

.big-circle-container{
    border-radius: 50%;
    overflow: hidden;
}

.big-circle-container img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* --FOOTER-- */

#footer{
    height: 80px;
    background-color: var(--color-footer);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer left */

.footer-left img{
    max-width: 40px;
    max-height: 40px;
    margin: auto 10px;
}

.footer-left .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-left .center-icon{
    display: inline-block;
    margin: auto 5px;
}

.footer-left a{
    font-size: 10px;
    color: gray;
}

.icon{
    color: gray;
}

.footer-left a:hover{
    text-decoration:underline;
    color: white;
}

.icon:hover{
    color: white;
}

/* footer center */

.footer-center {
    min-width: 40%;
}

.footer-center .options-music{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding-bottom: 10px;
}

.footer-center .music-time{
    max-width: 400px;
    margin: 0 auto;
}

.footer-center .music-time span{
    font-size: 10px;
}

.footer-center .hr{
    margin: auto 4%;
}

.footer-center .hr,
.footer-center .hr .progress,
.footer-right .hr,
.footer-right .hr{
    height: 4px;
    border-radius: 3px;
    position: relative;
}

.footer-center .hr .progress,
.footer-right .hr .progress{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 30%;
    height: 4px;
    background-color: white;
}

.footer-center .hr:hover .progress,
.footer-right .hr:hover .progress{
    background-color: greenyellow;
}

.footer-center .hr:hover .progress::after,
.footer-right .hr:hover .progress::after{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icon-play-option{
    font-size: 25px;
}



/* footer right */

.footer-right{
    gap: 10px;
    width: 200px; 
    margin-left: 10px;
}

.footer-right .hr{
    margin: auto 3px auto 0;
}


/* MEDIA */


@media screen and (max-width: 768px) {
    #main-content .genres,
    #main-content .recently-played
    {
        flex-wrap: wrap;
    }

    #main-content .recently-played .card,
    #main-content .for-you .card,
    #main-content .popular-artists .card{
        width: calc(100% / 4 - 10px);
    }

}


@media screen and (max-width: 576px) {
    #main-content .recently-played .card,
    #main-content .for-you .card,
    #main-content .popular-artists .card{
        width: calc(50% - 10px);
    }

    #main .nav{
        width: 50px;
        padding: 10px;
    }

    .nav .text-img-nav,
    .nav .playlist,
    #main .nav .logo-nav img:first-child,
    #main .nav .hr{
        display: none;
    }

    #main .nav .logo-small{
        display: block;
        width: 30px;
    }

    .img-install-app{
        margin: 5px ;
    }

    .footer-right{
        flex-wrap: wrap;
        width: 100px;
    }

    .footer-right hr{
        margin: auto 0;
    }
}


@media screen and (max-width: 380px) {
    .footer-left .center-icon{
        display: none;
    }
}
